*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 10px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
    font-family: Open Sans, sans-serif;
}
a{
    text-decoration: none;
    color: #ffffffff;
}
.header {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translate(-50%, 0);
}
.conteiner {
    width: 114rem;
    margin: 0 auto;
}
.header__wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffffff;
}
.header__info {
    display: flex;
    align-items: center;
}
.header__menu {
    display: flex;
    margin-right: 3.6rem;
}
.header__menu li a{
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.35;
    text-transform: uppercase;
}
.header__buy {
    width: 1.3rem;
    height: 1.3rem;
    position: relative;
}
.header__buy:after {
    content: '';
    width: 0.1rem;
    height: 5.1rem;
    background-color: #ffffff;
    position: absolute;
    right: -2.1rem;
    top: 50%;
    transform: translate(0,-50%);
}
.header__telephone {
    display: flex;
    margin-left: 5.2rem;
}
.header__number {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.39;
}
.header__menu li:not(:last-child){
    margin-right: 2.5rem;
}
.header__tel {
    width: 2.3rem;
    height: 2.3rem;
}
.header__text {
    width: 15.5rem;
    height: 3.8rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.35
}
.header__button {
    width: 15rem;
    height: 4.7rem;
    margin-left: 6.3rem;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.35;
    color: #ffffff;
}
.header__burger{
    display: none;
}
/*hero*/
.hero{
    min-height: 80rem;
    background: url(../img/HERO\ I.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 32.2rem;
}
.hero__wraper {
   color: #D67E35;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   max-width: 54rem;
}
.hero__title {
    font-family: 'Tinos', sans-serif;
    font-weight: 400;
    font-size: 5rem;
    line-height: 1.14;
}
.hero__subtitle {
    font-family: 'Tinos', sans-serif;
    font-weight: 400;
    font-size: 8rem;
    line-height: 1.15;
}
.hero__text {
    margin: 1.2rem 0 2.1rem 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.39;
    color: #ffffffff;
    position: relative;
}
.hero__text:after, .hero__text::before{
    content: '';
    width: 6.1rem;
    height: .2rem;
    background-color: #ffffff;
    position: absolute;
    right: -2.1rem;
    top: 50%;
    transform: translate(0,-50%);
}
.hero__text:after{
    left: -8rem;
}
.hero__text::before{
    right: -8rem;
}
.hero__button {
    margin-top: 1.2rem;
    padding: 1.4rem 2.8rem;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 0.6;
}
.button {
    background-color: #FF7400;
    color: #ffffff;
    text-transform: uppercase;
}
/*agvantage*/
.advantage {
    margin-top: -11rem;
}
.advantage__wraper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15rem;
}
.advantage__item {
    display: flex;
    width: 34.9rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4.8rem 2rem 5.4rem;
    background: #FFFFFF;
    box-shadow: 1rem 1rem 4rem 2rem rgba(0, 0, 0, 0.1);
}
.advantage__description {
    font-family: 'Tinos',sans-serif;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.15;
}
.title span{
    color: #BC9060;
}
.advantage__title {
    color: #2C2C2C;
    margin-bottom: 2rem;
}
.advantage__text {
    color: #656363;
}
/*history*/
.history {
    padding-bottom: 12.2rem;
}
.history__wrapper {
    display: flex;
    justify-content: space-between;
}
.history__description {
    width: 44.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.history__title {
    margin-bottom: 2.1rem;
    font-family: 'Tinos',sans-serif;
    font-weight: 400;
    font-size: 5.4rem;
    line-height: 1.15;
    color: #000000;
}
.history__text {
    margin-bottom: 3.9rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.37;
    text-align: center;
    color: #656363;
}
.history__number {
    display: flex;
}
.history__item:nth-child(2){
    margin: 0 3rem 0 4.1rem;
}
.history__sum {
    font-weight: 400;
    font-size: 4rem;
    line-height: 1.35;
    text-align: center;
    color: #BC9060;
}
.history__sum-text {
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 1.35;
    text-align: center;
}
.history__img {
    position: relative;
    display: flex;
    width: 53.9rem;
    height: 49.7rem;
}
.history__img-1 {
    position: absolute;
    top: 40%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 10;
    width: 23.3rem;
    height: 30rem;
    box-shadow: 2rem 0 3rem .3rem rgba(0, 0, 0, 0.5);
}
.history__img-2 {
    position: absolute;
    right: 0;
    height: 50rem;
    filter:drop-shadow(.3rem .7rem .7rem rgba(0,0,0,0.25))
}
/*holiday*/
.holiday {
    position: relative;
    padding: 8rem 0 10.4rem 0;
    background: url(../img/delicious-1866631_1920\ 1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.holiday__wrapper::after{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    inset: 0;
    z-index: 0;
}
.holiday .conteiner {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}
.holiday__description {
    width: 60rem;
}
.holiday__title {
    margin-bottom: 2rem;
    font-family: 'Tinos',sans-serif;
    font-weight: 400;
    font-size: 5rem;
    line-height: 1.15;
    color: #D67E34;
}
.holiday__text {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.37;
    color: #ffffffff
}
.holiday__button {
    align-self: center;
    padding: 1.4rem 1.9rem;
}
/*Dish*/
.dish__title {
    margin: 13.2rem 0 13.9rem 0;
    text-align: center;
    font-family: 'Tinos',sans-serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 1.15;
}
.dish__wrapper {
    display: flex;
}
.dish__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 59.5%;
}
.dish__left {
    margin-right: 3rem;
    width: 40.5%;
    height: 47.8rem;
    overflow: hidden;
}
.dish__left img{
    object-fit: cover;
}
.dish__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Tinos', sans-serif;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.15;
}
.dish__image {
    width: 16rem;
    height: 14rem;
    margin-right: 3rem;
}
.dish__name span{
    display: none;
}
/*menu*/
.menu {
    width: 100%;
    height: 103.6rem;
    margin-top: 15.2rem;
    padding: 8.5rem 0;
    background: url(../img/bg\ menu.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.menu__title {
    margin-bottom: 13.8rem;
    text-align: center;
    font-family: 'Tinos', sans-serif;
    font-weight: 400;
    font-size: 5.4rem;
    line-height: 1.15;
    color: #FFFFFF;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
.menu__wrapper {
    display: flex;
    justify-content: space-between;
}
.menu__item {
    position: relative;
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8rem 6.2rem 3rem;
    background-color: #FFFFFF;
}
.menu__plash {
    padding: .8rem 1.1rem;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.38;
    text-align: center;
    background-color: #D67E34;
    position: absolute;
    left: 0;
    top: 0;
}
.menu__top {
    position: relative;
}
.menu__img {
    
    margin-bottom: 2.2rem;
    border-radius: 50%;
}
.menu__weight {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #D67E34;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1rem solid #FFFFFF;
    font-family: 'Cookie', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    line-height: 110%;
    color: #FFFFFF;
    position: absolute;
    right: -1rem;
    bottom: 2rem;
}
.menu__subtitle {
    margin-top: 2.2rem;
    font-family: 'Tinos', sans-serif;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.15;
    color: #000000;
}
.menu__text {
    margin: 1.7rem 0 2rem 0;
    padding: 0 1.9rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.37;
    text-align: center;
    color: #000000;
}
.menu__button {
    padding: 1.4rem 6.7rem;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.2rem;
    background: #D67E34;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
/*reviews*/
.reviews {
    padding: 10.5rem 0rem;
    background-color: #E6E5E5;
}
.reviews__slider {
    max-width: 92rem;
}
.reviews__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.35;
}
.reviews__text {
    margin-bottom: 2.5rem;
}
.reviews__avatar {
    width: 10rem;
    height: 10rem;
    margin-bottom: 1.6rem;
    border-radius: 50%;
}
.reviews__name {
    margin-bottom: 5rem;
}
.reviews__name span:first-child{
    display: block;
    margin-bottom: 1rem;
}
.reviews__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviews__slider .swiper-pagination-bullet{
    width: .5rem;
    height: .5rem;
}
.reviews__slider .swiper-pagination-bullet-active{
    background-color: inherit;
    width: .7rem;
    height: .7rem;
    border: .1rem solid #FF7400;
}
/*gallery*/
.gallery {
    position: relative;
    padding: 10rem 0rem 10rem 0rem;
}
.gallery__header {
    text-align: center;
    font-weight: 400;
    font-size: 5.4rem;
    line-height: 115%;
    margin-bottom: 6rem;
}
.gallery__item {
    display: flex;
    justify-content: space-between;
}
.gallery__item:first-child{
    margin-bottom: 3rem;
}
.gallery__item:first-child::after, .gallery__item:first-child::before{
    content: "";
    width: 3rem;
    height: 10rem;
    background-color: #FF0000;
    position: absolute;
    top: 22.1rem;
}
.gallery__item:first-child::after{
    right: 0;
}
.gallery__item:first-child::before{
    left: 0;
}
.gallery__img-b {
    width: 49%;
}
.gallery__img {
    display: flex;
    justify-content: space-between;
    width: 49%;
}
.gallery__img-s img{
    height: 100%;
}
.gallery__img-b img{
    width: 100%;
}
/*cooks*/
.cooks__header {
    text-align: center;
    font-weight: 400;
    font-size: 5.4rem;
    line-height: 115%;
    margin-bottom: 10rem;
}
.cooks__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
}
.cooks__img img{
    object-fit: cover;
}
.cooks__img-b img{
    width: 100%;
    padding-bottom: 5rem;
}
@media (max-width: 80em){
    html{
        font-size: 0.765vw;}
}
@media (min-width: 48rem){
    .button:hover {
        background-color: #D86504;
    }
    .gallery img:hover, .cooks__wrapper img:hover{
        transform: scale(1.1)
    }
}
@media (max-width: 48em){
    html{
        font-size: 1.5625vw;
    }
    .conteiner{
        padding: 0 4rem;
        width: 100%;
    }
    .header{
        width: 100%;
    }
    .header__info{
        display: none;
    }
    .header__burger{
        display: block;
    }
    /* hero*/
    .hero{
        background: url(../img/HERO\ IMG.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 43.3rem;
        min-height: 120rem;
    }
    .hero__text:after, .hero__text::before{
        display: none;
    }
    .hero__title{
        font-size: 5rem;
    }
    .hero__subtitle{
        margin-bottom: 1.5rem;
    }
    .hero__text{
        font-size: 3rem;
        line-height: 1.39;
    }
    .hero__button{
        margin-top: 1.2rem;
        padding: 2.5rem 4.5rem;
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 2rem;
	line-height: 0.6;
    }
    /*advantage*/
    .advantage__wraper{
        flex-direction: column;
    }
    .advantage__item{
        width: 100%;
        min-height: 53rem;
    }
    .advantage__item:not(:last-child){
        margin-bottom: 2.8rem;
    }
    .advantage__title{
        font-size: 4rem;
        margin-bottom: 6rem;
    }
    .advantage__text{
        font-size: 3.4rem;
        line-height: 140%;
    }
    /*history*/
    .history__wrapper{
        flex-direction: column;
    }
    .history__number{
        flex-direction: column;
    }
    .history__item:not(:last-child){
        margin-bottom: 4.4rem;
    }
    .history__title{
        font-size: 10rem;
        margin-bottom: 9rem;
    }
    .history__description{
        width: 100%;
        margin-bottom: 9rem;
    }
    .history__text{
        font-size: 3.2rem;
        margin-bottom: 10rem;
    }
    .history__sum{
        font-size: 8rem;
    }
    .history__sum-text{
        font-size: 4rem;
    }
    .history__img{
        display: none;
        width: 100%;
        height: 50rem;
    }
    .history__img-2{
        width: 38rem;
        height: 50rem;
    }
    /*holiday*/
    .holiday .conteiner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .holiday__title{
        font-size: 5rem;
        text-align: center;
        margin-bottom: 4rem;
    }
    .holiday__text{
        font-size: 4.8rem;
        text-align: center;
        margin-bottom: 8rem;
    }
    .holiday__button{
        font-size: 2.8rem;
        font-weight: 700;
        padding: 2.5rem 2rem;
    }
    /*dish*/
    .dish__wrapper{
        flex-direction: column;
    }
    .dish__right{
        width: 100%;
    }
    .dish__left{
        width: 100%;
        height: 95rem;
        margin-bottom: 8rem;
    }
    .dish__left img{
        height: 95rem;
    }
    .dish__title{
        font-size: 10rem;
        margin-bottom: 5rem;
        padding:0 2rem 0 2rem ;
    }
    .dish__item{
        justify-content: flex-start;
    }
    .dish__item:not(:last-child){
        margin-bottom: 5rem;
    }
    .dish__dotted{
        display: none;
    }
    .dish__coin{
        display: none;
    }
    .dish__name{
        font-size: 3.5rem;
    }
    .dish__name span{
        display: block;
        text-align: center;
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 140%;
    }
    .dish__image {
        width: 23rem;
        height: 23rem;
    }
    .dish__image img{
        width: 23rem;
        height: 23rem;
    }
    /*menu*/
    .menu{
        height: 125rem;
    }
    .menu__title{
        margin-bottom: 7rem;
        font-size: 9rem;
    }
    .menu__wrapper{
        flex-direction: column;
        justify-content: flex-start;
    }
    .menu__item{
        max-width: 100%;
        padding: 12rem 6.2rem 6rem;
    }
    .menu__item:nth-child(2), .menu__item:nth-child(3){
        display: none;
    }
    .menu__subtitle{
        font-size: 5rem;
    }
    .menu__text{
        font-size: 3rem;
    }
    .menu__weight{
       max-width: 15rem;
        max-height: 15rem;
        font-size: 4rem;
    }
    .menu__plash{
        padding: 1.8rem 3rem;
        font-size: 2.6rem;
    }
    /*reviews*/
    .reviews{
        padding-top: 2rem;
    }
    .reviews__text{
        font-size: 4rem;
        line-height: 150%;
        margin-bottom: 5rem;
    }
    .reviews__avatar{
        width: 20rem;
        height: 20rem;
    }
    .reviews__name{
        margin-bottom: 10rem;
    }
    .reviews__name span:first-child{
        font-weight: 600;
        font-size: 4rem;
        line-height: 140%;
    }
    .reviews__name span:last-child{
        font-size: 4rem;
        line-height: 140%;
    }
    .reviews__slider .swiper-pagination-bullet{
        width: 1rem;
        height: 1rem;
    }
    .reviews__slider .swiper-pagination-bullet-active{
        width: 1.4rem;
        height: 1.4rem;
        border: .2rem solid #FF7400;
    }
    /*gallery*/
    .gallery__item{
        flex-direction: column;
        width: 100%;
    }
    .gallery__item:first-child .gallery__img-b{
        margin-bottom: -3.5rem;
    }
    .gallery__item:last-child .gallery__img-s:last-child{
        margin-bottom: 4rem;
    }
    .gallery__item:first-child::after, .gallery__item:first-child::before{
        display: none;
    }
    .gallery__img{
    flex-direction: column;
    width: 100%;
    }
    .gallery__img-b{
    width: 100%;
    height: 36rem;
    }
    /*.gallery__img-b img{
    width: 100%;
    height: 100%;
    }*/
    .gallery__img-s img{
    height: 62rem;
    width: 56rem;
    }
    .gallery__img-s:first-child{
    margin-bottom: 4rem;
    }
    .gallery__item:first-child{
        margin-bottom: 4rem;
    }
    .gallery__img-s img, .gallery__img-b img{
        object-fit: cover;
    }
    /*cooks*/
    .cooks__wrapper{
        flex-direction: column;
    }
    .cooks__img{
        width: 100%;
    }
    .cooks__img img{
        width: 100%;
    }
    .cooks__img:not(:last-child){
        margin-bottom: 4rem;
    }
    .cooks__img-b img{
        object-fit: cover;
    }
}
